@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(135deg, #6c63ff, #63b3ff);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.form-box {
    width: 380px;
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
    opacity: 0;
    transform: translateY(50px);
    animation: slideIn 0.8s forwards ease-out;
}

h2 {
    text-align: center;
    margin-bottom: 5px;
    font-weight: 600;
}

p {
    text-align: center;
    font-size: 14px;
    margin-bottom: 20px;
    color: #444;
}

form label {
    font-size: 14px;
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 14px;
    transition: 0.3s;
}

input:focus {
    border-color: #6c63ff;
}

button {
    width: 100%;
    padding: 12px;
    margin-top: 20px;
    border: none;
    background: #6c63ff;
    color: white;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #4f47d8;
}

/* Animation */
@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(80px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
